name: build and deploy RelaySmartSystem PROD
on:
  push:
    branches:
      - main

jobs:
  build-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build the app
        run: mvn clean package -B

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: akpeisov/rss:prod

  deploy:
    needs: build-push
    runs-on: ubuntu-20.04
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 221
          script: |
            docker pull akpeisov/rss:prod
            docker stop rss || true
            docker rm rss || true
            docker run -d \
              --name rss \
              -e SERVER_PORT=8880 \
              -e JDBC_URL=${{ secrets.JDBC_URL }} \
              -e JDBC_USER=${{ secrets.JDBC_USER }} \
              -e JDBC_PASS=${{ secrets.JDBC_PASSWORD }} \
              -e CONTROLLER_KEY=${{ secrets.CONTROLLER_KEY }} \
              -e FRONT_KEY=${{ secrets.FRONT_KEY }} \
              akpeisov/rss:prod
